/* This file is for your main application css. */

body {
  margin-top: 0px !important;
}

.app-container {
  margin-left: 200px;
  margin-right: 200px;
}

.exerciser-logo {
  width: 450px;
  height: 75px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url('/images/exerciser_banner.png');
  background-size: 519px 71px;
}

.clickable:hover {
  cursor: pointer;
}

.list-group-item-light-gray {
  background-color:	#DCDCDC
}

.list-group-item-gray {
  background-color: #A9A9A9
}

.error-text {
  color: #DC143C
}

.show-more-li-non-styled {
  text-align: center;
  list-style: none
}

.navbar-app {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background-color: #000066;
}

.navbar-app ul li a {
  color: white;
}

.navbar-app ul li a:focus {
  color: #000033;
}