/* This file is for your main application css. */
.app-container {
  margin-left: 200px;
  margin-right: 200px;
}

.list-group-item-light-gray {
  background-color:	#DCDCDC
}

.list-group-item-gray {
  background-color: #A9A9A9
}

.error-text {
  color: #DC143C
}

.show-more-li-non-styled {
  text-align: center;
  list-style: none
}