/* This file is for your main application css. */
body {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.float-right {
  float: right !important;
}

.app-container {
  z-index: 3;
  background-color: #f2f2f2;
  box-shadow: 1px 1px 1px 1px #ccc;
  min-height: 500px;
}

.exerciser-logo {
  width: 450px;
  height: 75px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url('/images/exerciser_banner.png');
  background-size: 519px 71px;
}

.clickable:hover {
  cursor: pointer;
}

.list-group-item-gray {
  margin-bottom: 3px;
  border: 3px solid #E0E0E0;
  background-color: #F5F5F5;
}

.error-text {
  color: #DC143C
}

.show-more-li-non-styled {
  text-align: center;
  list-style: none
}

.user-nav {
  display: flex;
  margin-right: 20px;
}

.user-nav-icon {
  color: white;
}

.white-icon {
  color: white;
}

.top-padding-20 {
  padding-top: 20px;
}

.margin-vertical {
  margin-top: 10px;
  margin-bottom: 20px;
}

.listitem-enter {
  opacity: 0.01;
}

.listitem-enter.listitem-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.listitem-leave {
  opacity: 1;
}

.listitem-leave.listitem-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.fadein {
  opacity: 1;
  animation: fade 500ms linear;
}

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@import url("desktop.css");
@import url("mobile.css");
