@media screen and (max-width: 1024px) {
  .menu-nav {
    display: block;
    cursor: pointer;
    padding-left: 10px;
  }

  .show-menu {
    width: 100%;
    position: absolute;
    z-index: 3;
    background-color: #00796B;
    overflow: auto;

  }

  .hide-menu {
    display: none;
  }

  .navbar-app {
    background-color: #00796B;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 4;
    height: 28px;
  }

  .navbar-nav {
    margin: 0px !important;
  }

  .navbar-nav li:last-child {
    display: none; /*User field, should be done different on mobile */
  }

  .navbar-nav li a {
    color: white;
  }

  .color-bar {
    visibility: hidden;
  }

  .desktop-fillter {
    visibility: hidden;
  }

  .app-container {
    margin-top: 28px;
  }

  .app-container-size {
    width: 100%;
  }

  .user-nav-data {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: white;
  }

  .user-name {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-top: 5px;
    color: white;
  }
}
