@media screen and (max-width: 1024px) {
  html {
    height: 100%;
    overflow-y: scroll;
  }

  body {
    height: 100%;
  }

  #root {
    height: 100%;
  }

  #root > div {
    height: 100%;
  }

  .app-container {
    overflow-y: scroll;
    height: 100%;
  }

  .menu-nav {
    display: block;
    cursor: pointer;
    padding-left: 10px;
  }

  .show-menu {
    width: 100%;
    position: absolute;
    z-index: 3;
    background-color: #009688;
  }

  .hide-menu {
    display: none;
  }

  .navbar-app {
    background-color: #00796B;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 4;
    height: 28px;
  }

  .navbar-nav {
    margin: 0px !important;
  }

  .navbar-nav li {
    border-bottom: 1px solid #BDBDBD;
  }

  .navbar-nav li:last-child {
    display: none; /*User field, should be done different on mobile */
  }

  .navbar-nav li a {
    color: white;
  }

  .color-bar {
    visibility: hidden;
  }

  .desktop-fillter {
    visibility: hidden;
  }

  .app-container {
    margin-top: 28px;
    min-height: 100%;
  }

  .app-container-size {
    width: 100%;
  }

  .user-nav-data {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: white;
  }

  .user-name {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-top: 5px;
    color: white;
  }

  .add-exercise-btn {
    position: fixed;
    right: 5%;
    bottom: 5%;
  }

  .save-workout-btn {
    position: fixed;
    right: 25%;
    bottom: 5%;
  }
}
