/* This file is for your main application css. */


body {
  margin-bottom: 0px;
  margin-top: 0px !important;
  padding-top: 0px !important;
  font-family: Sans-Serif;
  line-height: 1.3;
}

#root > div > div {
  height: 100%;
}

.float-right {
  float: right !important;
}

.app-container {
  z-index: 3;
  background-color: #f2f2f2;
  box-shadow: 1px 1px 1px 1px #ccc;
  min-height: 500px;
  padding-top: 10px;
}

/* button */
.button {
  border: 0;
  background: #2980b9;
  color: #FFF;
  border-radius: 3px;
}

.button-danger {
  background: #d9534f;
}

/* container content */
.content .title-box {
  padding-bottom: 20px;
}

/* LIST VIEW */

/* -- old */
.listitem-enter {
  opacity: 0.01;
}

.listitem-enter.listitem-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.listitem-leave {
  opacity: 1;
}

.listitem-leave.listitem-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/* -- current */

.list-view-group {
  list-style: none;
  width: 100%;
  padding-left: 0;
}

.list-view-group-item {
  width: 100%;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #fff;
  padding: 10px 15px;
}

.list-view-group-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 1px solid #ddd;
}

.list-view-group-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.list-view-group-item a {
  display: inline;
}

.list-view-group-item button {
  float: right;
}

/* FORMS */

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 14px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 14px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 14px;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 14px;
}

/* ERROR TEXT */
.error-text {
  color: #DC143C
}

/* show-more options */
.show-more-li-non-styled {
  text-align: center;
  list-style: none
}

/* Navigation bar stuff */
.user-nav {
  display: flex;
  margin-right: 20px;
}

.user-nav-icon {
  color: white;
}

.white-icon {
  color: white;
}

.top-padding-20 {
  padding-top: 20px;
}

.margin-vertical {
  margin-top: 10px;
  margin-bottom: 20px;
}

.fadein {
  opacity: 1;
  animation: fade 500ms linear;
}

.dark-primary-color    { background: #00796B; }
.default-primary-color { background: #009688; }
.light-primary-color   { background: #B2DFDB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #00BCD4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@import url("desktop.css");
@import url("mobile.css");
